<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My First Express App</title>
        <link rel=stylesheet href="style.css">
    </head>
  <body>
    <h1><%= greeting %></h1>
    <img src="<%= myPic %>"/>
    <h2><%= iceCreamHeader %></h2>
    <ul>
      <% iceCream.forEach(function(flavor) { %>
        <li><%= flavor%></li>
      <% }) %>
    </ul>
</body>
</html>
